html {
    background-color: #242E35;
}

body{  
    min-width:310px;
    overflow: hidden;
}

/* Queries that change the layout of the page based on the view */
@media screen and (max-width: 560px){
    h1 { display: none; }
 }

@media screen and (max-width: 720px){
    #article_box{ 
        width:100%;
    }
 }

@media screen and (min-width: 720px){
    #article_box{
        width:50%;
    }
 }

@media screen and (max-width: 400px){
    h2 { top: 9px; }
    h3 { top: -10px; }
 }

@media screen and (min-width: 400px){
    h2 { top: 14px; }
    h3 { top: -5px; }
 }

h2,h3,.contact_links a,.picture_box,.pro_pic{
    position:relative;
}

/* Format for the text on the page */
h1,a,p,h2,#tab,h3,h4 {
   font-family:'Roboto';
}

h2,h3{
    padding-right: 120px;
    text-shadow: 2px 2px #000000;
    white-space: nowrap;
    text-align: right;
}

h1{
    margin: 0px;
    left:15px;
    top:15px;
    position: absolute;
    text-align: left;
    color:#EEEEE7;
    font-size: 65px;
    text-shadow: 2px 2px #000000;
    white-space: nowrap;
    z-index: -150;
}

h2{
    margin-top: 0px;
    font-size: 23px;
    color:#EEEEE7;
}

h3{
    margin-top: 0px;
    font-size: 13px;
    color:#d6d6cf;
}

/* Format for article content */
h4{
    margin-top: 12px;
    margin-bottom: 0px;
    font-size: 26px;
    color:#242E35;
    padding-left: 6px;
    padding-right: 6px;
}

p{
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 6px;
    padding-right: 6px;
}

#article_box{
    float:left;
    margin-right: 0px;
    margin-left: 0px;
}

/* Content for navegation tabs */
.contact_links{
    margin-top: 0px;
    width: 185px;
    height: 25px;
}

.contact_links a {
    padding: 5px 0px 2px 20px;
    top: 3px;
    color: #242E35;
    font-size: 18px;
}

#rectangle{
    position:absolute;
    left: 15px;
    width: 180px;
    height:25px;
    top: 110px;
    background:#708c87;
    z-index: 0;
    box-shadow: 2px 2px #000000;
}

.arrow-one{
    position: absolute;
    bottom: 0px;
    left:0px;
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 8px solid #adc4c0;
}

#article_image_box{
    padding-bottom: 3px;
    padding-top: 3px;
    padding-left: 6px;
    padding-right: 12px;
    display: block;
    height: auto;
}

img{
    padding:2px;
    max-width: 100%;
    width:auto;
    height:auto;
    border: 2px solid #656c71;
}

#tab{
    position: absolute;
    left: 8px;
    right: 8px;
    bottom: 8px;
    top:135px;
    background:#adc4c0;
    color: #242E35;
    font-size: 16px;
    box-shadow: 2px 2px #000000;
    z-index: 1;
    overflow-y: scroll;
    padding-right: 6px;
    padding-left: 6px;
}

.personal_info{
    float:right;
    top: 15px;
    height: 120px;
}

.picture_box{
    top:8px;
    right:8px;
    float: right;
    background: #708c87;
    width: 105px;
    height: 105px;
    box-shadow: 2px 2px #000000;
}

.pro_pic{
    width: 101px;
    height: 101px;
    background: url(profile.jpg);
    background-size: 101px 101px;
    background-repeat: no-repeat;
    top: 2px;
    left: 2px;
}

.obfuscate { unicode-bidi: bidi-override; direction: rtl; }