html {
    background-color: #242E35;
}

h1,a,p,h2,#tab,h3 {
   font-family:'Roboto';
}

h1{
    text-align: left;
    position: absolute;
    top:-30px;
    left: 17px;
    font-size: 65px;
    color:#EEEEE7;
    text-shadow: 2px 2px #000000;
    white-space:nowrap;
}

h2{
    text-align: left;
    position: absolute;
    top:0px;
    right: 130px;
    font-size: 23px;
    color:#EEEEE7;
    text-shadow: 2px 2px #000000;
}

h3{
    text-align: right;
    position: absolute;
    top:35px;
    right: 130px;
    font-size: 13px;
    color:#d6d6cf;
    text-shadow: 2px 2px #000000;
}

.contact_links{
    width: 411px;
    height: 30px;
}

.contact_links a {
    padding: 5px 0px 5px 20px;
    position: relative;
    top: 4px;
    color: #EEEEE7;
    font-size: 19px;
    text-shadow: 1px 1px #435451
}

#rectangle{
    position:absolute;
    left: 15px;
    width: 186px;
    height:32px;
    top: 105px;
    background:#708c87;
    z-index: -1000;
    box-shadow: 2px 2px #000000;
}

#tab{
    position: absolute;
    left: 8px;
    right: 8px;
    bottom: 8px;
    top:135px;
    background:#adc4c0;
    padding: 0px 15px 15px 20px;
    color: #242E35;
    font-size: 16px;
    box-shadow: 2px 2px #000000;
    text-shadow: 1px 1px #9bb0ac;
}

.arrow-one{
    position: absolute;
    bottom: 0px;
    left:0px;
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 8px solid #adc4c0;
}

#picture_box{
    position:absolute;
    right:15px;
    top:15px;
    background:#708c87;
    width: 105px;
    height:105px;
    box-shadow: 2px 2px #000000;
}

.obfuscate { unicode-bidi: bidi-override; direction: rtl; }