html {
    background-color: aliceblue;
}

h1,a,p {
   font-family:raleway;
}

h1{
    text-align: left;
    padding: 10px 0 5px 60px;
}

p {
    margin-left: auto;
    padding: 20px 20px 20px 60px;
}

a {
    padding: 10px 60px 10px 60px;
    color: black;
}